.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0.1rem;
}

.spinner {
	--spinner-color: #0c111b;

	aspect-ratio: 1/1;
	border-radius: 50%;

	-webkit-animation-name: spin;
	animation-name: spin;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;

	width: 24px;
	border: 4px solid var(--spinner-color);
	border-top-color: transparent;

	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
}

@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
