#audioSeekBar {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	cursor: pointer;
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: rgb(255, 255, 255);
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	color: white;
	border: 0;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: white;
	cursor: pointer;
	border-radius: 50%;
	color: white;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
	opacity: 1;
}

.seek_slider {
	width: 100%;
	height: 4px;
	color: white;
}

.volume_slider {
	width: 35%;
	height: 3px;
	color: white;
}
