@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins&family=Roboto&display=swap'); */

@layer components {
	/*AA14F0*/
	.more-box-btn {
		@apply px-1 py-[.2rem] xl:px-2 xl:py-1 xs:mx-2 sm:mx-4 md:mx-6 my-0 text-sm xl:text-base font-bold text-[#8C6AFF] rounded-xl bg-[#030b17] hover:text-purple-400 opacity-80 border-2 border-gray-800;
	}
	.login-btn {
		@apply w-full rounded-full flex justify-center items-center p-2 xl:p-4 space-x-4 font-bold shadow-sm px-9 hover:bg-opacity-90 border-purple-500 border-2 shadow-purple-200 transition hover:-translate-y-0.5 duration-150;
	}
}

.page-gradient {
	/* rgb(24 24 24)->rgb(12 12 12) absoulte + sticky
	@apply bg-gradient-to-b from-[#181818] via-[#121212] to-[#181818] text-white;
	/*@apply bg-gradient-to-b from-[#121212] via-[#0C111B] to-[#0C111B] text-white;
	@apply bg-gradient-to-b from-[#121826] via-[#101621] to-[#0C111B] text-white;*/
	@apply bg-gradient-to-b from-[#101621] via-[#0C111B] to-[#0C111B] text-white pb-16 xl:pb-0;
}

.list-grid {
	@apply grid grid-cols-2 ms:grid-cols-3 xs:grid-cols-4 md:grid-cols-5 2xl:grid-cols-6 gap-1 ms:gap-2 xs:gap-3 sm:gap-4 xl:gap-5;
}

.discover-grid {
	/*@apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 space-x-2 space-y-2 md:space-x-4 md:space-y-4;*/
	@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5;
}

.item-container {
	@apply justify-between gap-1 md:gap-2 text-lg md:text-xl text-white;
}

.item {
	@apply relative overflow-hidden;
}

.item-gradient {
	@apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-br from-transparent to-inherit;
}

.box-text {
	@apply absolute left-2 top-2 text-base ms:text-lg xl:text-xl font-medium px-1 xl:px-2 w-full h-full xl:w-5/6 text-start;
}

.image-gradient {
	@apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-[#0C111B];
}

.btn-next {
	@apply rounded-full w-auto flex justify-center items-center p-2 px-3 space-x-4 font-sans font-bold shadow-md bg-purple-800 shadow-purple-500 hover:bg-opacity-90 hover:shadow-lg border transition hover:translate-y-0.5 duration-150;
}

.input-field {
	@apply w-full my-2 p-4 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light bg-gray-900;
}

html {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: auto;
}

h1 {
	font-family: 'Merriweather Sans', sans-serif;
	/* @apply 'font-poppins'; */
}

h2 h3 {
	font-family: 'Poppins', sans-serif;
	/* @apply 'font-poppins'; */
}

h5 p {
	font-family: 'Roboto', sans-serif;
	/* @apply 'font-roboto'; */
}

.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-4 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* .slick-dots button:before {
	color: white !important;
}

/*
::-webkit-scrollbar {
	width: 1rem;
	background-color: violet;
}

html {
	width: 100%;
}
body {
	height: 100%;
	position: fixed;
	overflow-y: scroll;
}
*/
