@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply px-4 py-2 my-0 font-bold border-2 border-black hover:bg-black hover:text-white bg-gray-800 rounded-lg;
	}
}

.page-gradient {
	/* rgb(24 24 24)->rgb(12 12 12) absoulte + sticky */
	@apply bg-gradient-to-b from-[#1a1a1a] via-[#121212] to-[#1a1a1a] text-white;
}

.list-grid {
	@apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-3 sm:gap-6 md:gap-8 p-2 md:p-6;
}

.discover-grid {
	@apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 space-x-2 space-y-2 md:space-x-4 md:space-y-4;
}

.item-container {
	@apply justify-between gap-1 md:gap-2 text-lg md:text-xl text-white;
}

.item {
	@apply relative overflow-hidden;
}

.item-gradient {
	@apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-[#121212];
}

.box-text {
	@apply absolute px-1 md:px-2 w-full md:w-5/6 text-start left-1 bottom-1;
}

.btn-next {
	@apply rounded-full w-auto flex justify-center items-center p-2 px-3 space-x-4 font-sans font-bold shadow-md bg-purple-800 shadow-purple-200 hover:bg-opacity-90 hover:shadow-lg border transition hover:translate-y-0.5 duration-150;
}

.input-field {
	@apply w-full my-2 p-4 border border-gray-300 rounded-md placeholder:font-sans placeholder:font-light bg-gray-900;
}

.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-4 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.slick-dots button:before {
	color: white !important;
}
