@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply px-4 py-2 my-0 font-bold border-2 border-black hover:bg-black hover:text-white bg-gray-800 rounded-lg;
	}
}

.bg-gradient {
	/* absoulte + sticky */
	@apply bg-gradient-to-b from-gray-900 via-slate-900 to-gray-900 text-white pb-20 lg:pb-12;
}

.list-grid {
	@apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-3 sm:gap-6 md:gap-8 p-2 md:p-6;
}

.genre-grid {
	@apply grid grid-cols-2 xs:grid-cols-3 md:grid-cols-4 space-x-2 space-y-2 md:space-x-4 md:space-y-4;
}

.item-container {
	@apply justify-between gap-1 md:gap-2 text-lg md:text-xl text-white;
}

.item {
	@apply relative overflow-hidden;
}

.item-gradient {
	@apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-black;
}

.box-text {
	@apply absolute px-1 md:px-2 w-full md:w-4/6 text-start left-1 bottom-1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
