::-webkit-scrollbar {
	width: 1vw;
	height: 1vw;
	background-color: hsl(221, 33%, 20%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(221, 33%, 15%);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(221, 33%, 20%);
}

::-webkit-scrollbar-track {
	background-color: #091621; /*030b17*/
	border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: hsl(221, 33%, 15%) #091621;
	}
}
